@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Inter:wght@400;700;800;900&display=swap");

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    margin-top: -50px;
}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.tilte {
    font-family: 'Bangers',cursive;
    font-size: 30px;
    color: white;
}

.returnHome {
    font-family: 'Bangers',cursive;
    margin-right: 0;
}

.search-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 40px;
    justify-content: space-between;
}

.select-coponent {
    border: none;
    box-shadow: none;
    background-color: 'transparent';
}


.search-button {
    color: white;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    background-color: #3975F8;
    border-radius: 40px;
    border: none;
    margin-top: 4px;
    height: 30px;
    margin-right: 4px;
}

.search-button:hover{
    background: #4285f4;
    border-color: #4285f4;
}

.search-container {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);   
}

.search-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

}