.standing {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 400px;
    background-color: #fffbfb;
    border-radius: 40px;
    margin-right: 60px;
    align-items: center;
    text-align: center;
}

.tilte {
    font-family: 'Itim', cursive;
    font-weight: 700;
    margin-top: 20px;
    font-size: 20px;
}